<main class="main-wrap">
        
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">About page </h2>
               
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <h4>Salary Management</h4>
                </header>
                <div class="card-body">
                    <h5 class="card-title">Card content</h5>
                    <div class="mt-4">
                        <div class="text-muted font-size-14">
                            <p>The salary management system is a tool that incorporates an organized payroll system.</p>
                            <p class="mb-4"> It automates the basic payroll processes to help organizations be more efficient. The salary management system is usually part of a buffer system that aims to automate other tasks. It is also used to maintain their financial records and fulfill their responsibilities towards government agencies.</p>
                            <p>A payroll management system is a software that helps manage employees' payroll and benefits. The purpose of the payroll system is to provide efficient and accurate payments to employees and assist in tracking employee work hours and tax filing. It can reduce admin costs and increase employee productivity..</p>
                        </div>
                    </div>
                </div>
            </div> <!-- card end// -->
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>